<div class="container d-flex justify-content-center">
  <div class="col-4">
    <br>
      <div class="d-flex justify-content-center">
        <h2>SIGN UP</h2>
      </div>
      <br>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
        data: {turbo: false}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs text-center">
          <%# nome e phone não funcionam %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: 'bg-white text-center' }%>
          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'bg-white text-center' } %>
          <%= f.input :phone,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'bg-white text-center' } %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: 'bg-white text-center' } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", class: 'bg-white text-center' } %>
        </div>
        <div class="form-actions d-grid gap-2" >
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <br>
      <div class="d-flex justify-content-center">
        <p>Already have an acoount?
        <a href="/users/sign_in" class="link-secondary float-sm-left">Log in</a></p>
      </div>
    </div>
  </div>
</div>
