<div class="container">
  <br>
  <div>
    <h2 class="container d-flex justify-content-center .text-light">Compra concluída com sucesso!</h2>
    <div class="mx-auto d-flex justify-content-center" style="width: 600px;">
      <div class="col-sm-12 col-md-8">
        <div class="card-trip mt-3">
          <%= cl_image_tag @order.lunchbox.photo.key, width: 400, height: 300, crop: :fill %>
          <div class="opacity-75">
            <h3 class="d-flex justify-content-center mt-2"><%= @order.lunchbox.food  %></h3>
            <h5 class="d-flex justify-content-center"><%= @order.lunchbox.size  %></h5>
            <h5 class="d-flex justify-content-center">R$ <%= @order.lunchbox.price %>,00</h5>
          </div>
        </div>
        <div class="d-grid mt-2" style="width: 400px;">
          <%= link_to "Comprar mais", root_path, class:"btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
