<div class="container d-flex justify-content-center my-2">
  <% if @orders.count == 0 %>
    <p>Sem ordens de compras</p>
  <% else %>
    <div class="justify-content-center mb-5 col-6">
      <% @orders.each do |order| %>
        <div class="card-product m-2">
          <%= cl_image_tag order.lunchbox.photo.key %>
          <div class="card-product-infos">
            <h2><%= order.lunchbox.food %> </h2>
            <p><%= order.lunchbox.size %></p>
            <p>R$ <%= order.lunchbox.price %>,00</p>
            <p><%= order.lunchbox.created_at.strftime("%d %b %Y") %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>