<div class="mx-auto d-flex justify-content-center mt-3" style="width: 600px;">
  <%= cl_image_tag @lunchbox.photo.key, width: 400, height: 300, crop: :fill %>
</div>
<div class="opacity-75">
<h1 class="d-flex justify-content-center"><%= @lunchbox.food  %></h1>
<h2 class="d-flex justify-content-center"><%= @lunchbox.size  %></h2>
<h2 class="d-flex justify-content-center">R$ <%= @lunchbox.price %>,00</h2>
</div>
<div class="d-flex justify-content-center">
  <% if user_signed_in? %>
    <% if %>
      <%# link_to "Comprar", new_lunchbox_order_path(@lunchbox), class: 'btn btn-primary m-3' %>
      <%= simple_form_for [ @lunchbox, @order ] do |f| %>
        <%= f.button :submit, "Comprar", class: "btn btn-outline-dark m-3" %>
      <% end %>
    <% end %>

    <% if @lunchbox.user == current_user %>
      <%= link_to "Deletar marmita", lunchbox_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger m-3" %>
    <% end %>

  <% else %>
    <%= link_to "Comprar", new_user_session_path, class: "btn btn-secondary m-3" %>
  <% end %>
</div>
