<div class="mx-auto d-flex justify-content-center mt-3" style="width: 600px;">
  <div class="col-sm-12 col-md-8">
    <div class="card-trip mt-3">
      <%= cl_image_tag @lunchbox.photo.key, width: 400, height: 300, crop: :fill %>
      <div class="opacity-75">
        <h3 class="d-flex justify-content-center mt-2"><%= @lunchbox.food  %></h3>
        <h5 class="d-flex justify-content-center"><%= @lunchbox.size  %></h5>
        <h5 class="d-flex justify-content-center">R$ <%= @lunchbox.price %>,00</h5>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <% if user_signed_in? %>
    <% if %>
      <%# link_to "Comprar", new_lunchbox_order_path(@lunchbox), class: 'btn btn-primary m-3' %>
      <div>
        <%= simple_form_for [ @lunchbox, @order ] do |f| %>
        <%= f.button :submit, "Comprar", class: "btn btn-outline-dark mt-2", style:"width: 400px;"%>
        <% end %>
      <% end %>
      <% if @lunchbox.user == current_user %>
        <%= link_to "Deletar marmita", lunchbox_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger mt-2", style:"width: 400px;" %>
      <% end %>
    </div>
  <% else %>
    <%= link_to "Comprar", new_user_session_path, class: "btn btn-secondary m-3" %>
  <% end %>
</div>
